.paper-container {
  --background: #e5e5e5;
}

.paper {
  background: white;
  margin: 16px auto;
  padding: 8px;
  width: 95%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.paper img {
  width: 100%;
  display: block;
}

.hint {
  text-align: center;
  margin-top: 40px;
  color: #666;
}
