<ion-header>
  <ion-toolbar>
    <ion-title>Mozzart OCR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="takeScreenshot()" [disabled]="loading">
        📸 Screenshot
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Wrapper div za html2canvas -->
  <div #iframeContainer style="width:100%; height:50%; border:none;">
    <iframe
      #mozartFrame
      src="https://www.mozzartbet.com"
      style="width:100%; height:100%; border:none;">
    </iframe>
  </div>

  <ion-card *ngIf="ocrText">
    <ion-card-header>
      <ion-card-title>OCR rezultat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <pre>{{ ocrText }}</pre>
    </ion-card-content>
  </ion-card>
</ion-content>
